<breadcrumb></breadcrumb>

<div class="matero-row" fxLayout="row wrap">
  <button></button>

  <!-- Statistics -->
  <div
    class="matero-col"
    fxFlex.gt-sm="25"
    fxFlex.gt-xs="50"
    fxFlex="100"
    *ngFor="let stat of patientStats"
  >
    <mat-card [ngClass]="['text-white', stat.color]">
      <mat-card-title class="f-s-12 f-w-100">{{ stat.title }}</mat-card-title>
      <mat-card-content>
        <h2>{{ stat.amount }}</h2>
        <mtx-progress
          [value]="stat.progress.value"
          height="2px"
          foreground="rgba(255,255,255,1)"
          background="rgba(0,0,0,.5)"
        >
        </mtx-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="matero-row" fxLayout="row wrap">
  <div class="matero-col" fxFlex.gt-sm="50" fxFlex="100">
    <a href="#">
      <mat-card>
        <mat-card-subtitle>Patient List</mat-card-subtitle>
        <mat-list>
          <mat-list-item *ngFor="let message of patientList">
            <img matListAvatar [src]="message.img" alt="" />
            <h3 matLine>{{ message.name }}</h3>
            <p matLine>
              <span size="1">Relation : {{ message.relation }} </span>
            </p>
            <p matLine>
              <span>{{ message.content }} </span>
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </a>
  </div>
</div>
